*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758,#490d61);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white
}

.container h1{
    font-size:2.8rem;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;

}

.container h1 span{
    color:#ff2963;
}

textarea{
    width:600px;
    height:250px;
    background: #403d84;
    color:#fff;
    font-size:0.9rem;
    border:0;
    outline:0;
    padding:20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

::placeholder{
    font-size: 1rem;
    color:#fff;
}

.row{
    width:600px;
    display:flex;
    align-items: center;
    gap:20px;
}

button{
   background:#ff2963;
   color:#fff;
   font-size: 1rem;
   padding:10px 30px;
   border-radius: 40px;
   border:0;
   outline:0;
   cursor:pointer; 
   display:flex;
   align-items: center;
}

button:hover {
    transition: 0.5s ease-in-out;
    color: black;
}

button img{
    width:16px;
    margin-right: 10px;
}

select{
    flex:1;
    color:#fff;
    background: #403d84;
    height:50px;
    padding:0 28px;
    outline:0;
    border:0;
    border-radius: 40px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size:1rem;
    background-position-x: calc(100% - 20px);
    background-position-y:20px;
}

/* media screen */

@media screen and (min-width:350px) and (max-width:700px){
    .container{
        width:100%;
        min-height: 100vh;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container h1{
        font-size:2rem;
        font-weight: 500;
        text-align: center;
        margin-top: -50px;
        margin-bottom: 50px;
    
    }

    textarea{
        width:300px;
        height:200px;
        background: #403d84;
        color:#fff;
        font-size:0.9rem;
        border:0;
        outline:0;
        padding:20px;
        border-radius: 10px;
        resize: none;
        margin-bottom: 30px;
    }

    .row{
        width:300px;
        display:flex;
        align-items: center;
        gap:10px;
        margin-left: 10px;
    }

    button{
        background:#ff2963;
        color:#fff;
        font-size: 0.95rem;
        padding:10px 20px;
        margin-right: 20px;
        border-radius: 40px;
        border:0;
        outline:0;
        cursor:pointer; 
        display:flex;
        align-items: center;
     }

     button img{
        width:12px;
        margin-right: 10px;
    }
     

    select{
        flex:1;
        color:#fff;
        font-size: 0.88rem;
        background: #403d84;
        width:100px;
        height:60px;
        padding:0 10px;
        outline:0;
        border:0;
        border-radius: 40px;
        appearance: none;
        background-image: url(images/dropdown.png);
        background-repeat: no-repeat;
        background-size:1rem;
        background-position-x: calc(55% - 10px);
        background-position-y:43px;
    }
    
}